In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.cluster import KMeans

In [10]:
data = pd.read_csv("../data/clean_data.csv")
data.head()

,Bearer_Id,Start,Start_ms,End,End_ms,Dur_ms,IMSI,MSISDN_Number,IMEI,Last_Location_Name,...,Youtube_DL_(Bytes),Youtube_UL_(Bytes),Netflix_DL_(Bytes),Netflix_UL_(Bytes),Gaming_DL_(Bytes),Gaming_UL_(Bytes),Other_DL_(Bytes),Other_UL_(Bytes),Total_UL_(Bytes),Total_DL_(Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [22]:
#Creating the frequency variable
data['Session frequency'] = data.groupby(['Bearer_Id'])['Dur_ms'].transform('count')
data['Session frequency']
data

,Bearer_Id,Start,Start_ms,End,End_ms,Dur_ms,IMSI,MSISDN_Number,IMEI,Last_Location_Name,...,Netflix_DL_(Bytes),Netflix_UL_(Bytes),Gaming_DL_(Bytes),Gaming_UL_(Bytes),Other_DL_(Bytes),Other_UL_(Bytes),Total_UL_(Bytes),Total_DL_(Bytes),Total_Data_Volume(MB),Session frequency
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,8.198936e+06,9.656251e+06,2.780823e+08,1.434415e+07,1.717444e+08,8.814393e+06,36749741.0,308879636.0,345.629377,1
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,1.833841e+07,1.722713e+07,6.087501e+08,1.170709e+06,5.269042e+08,1.505514e+07,53800391.0,653384965.0,707.185356,1
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,1.758779e+07,6.163408e+06,2.295846e+08,3.956300e+05,4.106926e+08,4.215763e+06,27883638.0,279807335.0,307.690973,1
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,1.399465e+07,1.097942e+06,7.995382e+08,1.084972e+07,7.490399e+08,1.279728e+07,43324218.0,846028530.0,889.352748,1
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,1.712458e+07,4.152180e+05,5.277072e+08,3.529801e+06,5.507095e+08,1.391032e+07,38542814.0,569138589.0,607.681403,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,7.277826e+18,4/29/2019 7:28,451.0,4/30/2019 6:02,214.0,81230.0,2.082022e+14,3.365069e+10,3.548311e+13,D20434A,...,1.788370e+07,1.967816e+07,5.266097e+08,9.197207e+06,3.264510e+06,1.348742e+07,57628851.0,574175259.0,631.804110,1
149997,7.349883e+18,4/29/2019 7:28,483.0,4/30/2019 10:41,187.0,97970.0,2.082019e+14,3.366345e+10,3.566051e+13,D10223C,...,1.935015e+07,2.129315e+07,6.268931e+08,4.735033e+06,7.121804e+08,2.457758e+06,39135081.0,666648844.0,705.783925,1
149998,1.311448e+19,4/29/2019 7:28,283.0,4/30/2019 10:46,810.0,98249.0,2.082017e+14,3.362189e+10,3.572121e+13,T51102A,...,9.963942e+06,5.065760e+06,5.535395e+08,1.339432e+07,1.211009e+08,1.131473e+07,34912224.0,592786405.0,627.698629,2
149999,1.311448e+19,4/29/2019 7:28,696.0,4/30/2019 10:40,327.0,97910.0,2.082021e+14,3.361962e+10,8.618620e+13,L88342B,...,3.322253e+06,1.317259e+07,3.525370e+08,2.529475e+06,8.147131e+08,1.406930e+06,29626096.0,371895920.0,401.522016,2
150000,1.013887e+19,4/26/2019 7:25,499.2,4/25/2019 0:01,498.8,104608.6,2.082016e+14,4.188282e+10,4.847455e+13,D41377B,...,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,41121206.3,454643430.1,495.764636,991

In [13]:
#Creating a variable containing total data 

data['Total_Data_Volume(MB)'] = (data['Total_UL_(Bytes)'] + data['Total_DL_(Bytes)'])/10**6
data['Total_Data_Volume(MB)']

0         345.629377
1         707.185356
2         307.690973
3         889.352748
4         607.681403
             ...
149996    631.804110
149997    705.783925
149998    627.698629
149999    401.522016
150000    495.764636
Name: Total_Data_Volume(MB), Length: 150001, dtype: float64

In [71]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 57 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer_Id                                 150001 non-null  float64
 1   Start                                     150001 non-null  object
 2   Start_ms                                  150001 non-null  float64
 3   End                                       150001 non-null  object
 4   End_ms                                    150001 non-null  float64
 5   Dur_ms                                    150001 non-null  float64
 6   IMSI                                      150001 non-null  float64
 7   MSISDN_Number                             150001 non-null  float64
 8   IMEI                                      150001 non-null  float64
 9   Last_Location_Name                        150001 non-null  object
 10  Avg_RTT_DL_(ms)                           150001 non-null  float64
 11  Avg_RTT_UL_(ms)                           150001 non-null  float64
 12  Avg_Bearer_TP_DL_(kbps)                   150001 non-null  float64
 13  Avg_Bearer_TP_UL_(kbps)                   150001 non-null  float64
 14  TCP_DL_Retrans_Vol_(Bytes)                150001 non-null  float64
 15  TCP_UL_Retrans_Vol_(Bytes)                150001 non-null  float64
 16  DL_TP_<_50_Kbps_(%)                       150001 non-null  float64
 17  50_Kbps_<_DL_TP_<_250_Kbps_(%)            150001 non-null  float64
 18  250_Kbps_<_DL_TP_<_1_Mbps_(%)             150001 non-null  float64
 19  DL_TP_>_1_Mbps_(%)                        150001 non-null  float64
 20  UL_TP_<_10_Kbps_(%)                       150001 non-null  float64
 21  10_Kbps_<_UL_TP_<_50_Kbps_(%)             150001 non-null  float64
 22  50_Kbps_<_UL_TP_<_300_Kbps_(%)            150001 non-null  float64
 23  UL_TP_>_300_Kbps_(%)                      150001 non-null  float64
 24  HTTP_DL_(Bytes)                           150001 non-null  float64
 25  HTTP_UL_(Bytes)                           150001 non-null  float64
 26  Activity_Duration_DL_(ms)                 150001 non-null  float64
 27  Activity_Duration_UL_(ms)                 150001 non-null  float64
 28  Dur_(ms)_1                                150001 non-null  float64
 29  Handset_Manufacturer                      150001 non-null  object
 30  Handset_Type                              150001 non-null  object
 31  Nb_of_sec_with_125000B_<_Vol_DL           150001 non-null  float64
 32  Nb_of_sec_with_1250B_<_Vol_UL_<_6250B     150001 non-null  float64
 33  Nb_of_sec_with_31250B_<_Vol_DL_<_125000B  150001 non-null  float64
 34  Nb_of_sec_with_37500B_<_Vol UL            150001 non-null  float64
 35  Nb_of_sec_with_6250B_<_Vol_DL_<_31250B    150001 non-null  float64
 36  Nb_of_sec_with_6250B_<_Vol_UL_<_37500B    150001 non-null  float64
 37  Nb_of_sec_with_Vol_DL_<_6250B             150001 non-null  float64
 38  Nb_of_sec_with_Vol_UL_<_1250B             150001 non-null  float64
 39  Social_Media_DL_(Bytes)                   150001 non-null  float64
 40  Social_Media_UL_(Bytes)                   150001 non-null  float64
 41  Google_DL_(Bytes)                         150001 non-null  float64
 42  Google_UL_(Bytes)                         150001 non-null  float64
 43  Email_DL(Bytes)                           150001 non-null  float64
 44  Email_UL(Bytes)                           150001 non-null  float64
 45  Youtube_DL_(Bytes)                        150001 non-null  float64
 46  Youtube_UL_(Bytes)                        150001 non-null  float64
 47  Netflix_DL_(Bytes)                        150001 non-null  float64
 48  Netflix_UL_(Bytes)                        150001 non-null  float64
 49  Gaming_DL_(Bytes)                         150001 non-null  float64
 50  Gaming_UL_(Bytes)                         150001 non-null  float64
 51  Other_DL_(Bytes)                          150001 non-null  float64
 52  Other_UL_(Bytes)                          150001 non-null  float64
 53  Total_UL_(Bytes)                          150001 non-null  float64
 54  Total_DL_(Bytes)                          150001 non-null  float64
 55  Total_Data_Volume(MB)                     150001 non-null  float64
 56  Session frequency                         150001 non-null  int64
dtypes: float64(51), int64(1), object(5)
memory usage: 65.2+ MB

In [27]:
engagement_df = pd.DataFrame()

engagement_df['Session frequency'] = data['Session frequency']
engagement_df["Total_Data"] = data['Total_Data_Volume(MB)']
engagement_df['Dur_s'] = data['Dur_ms']/1000
engagement_df['MSISDN_Number'] = data['MSISDN_Number']

In [28]:
engagement_df.head()

   Session frequency  Total_Data     Dur_s  MSISDN_Number
0                  1  345.629377  1823.652   3.366496e+10
1                  1  707.185356  1365.104   3.368185e+10
2                  1  307.690973  1361.762   3.376063e+10
3                  1  889.352748  1321.509   3.375034e+10
4                  1  607.681403  1089.009   3.369980e+10

In [33]:
engagement_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 4 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Session frequency  150001 non-null  int64
 1   Total_Data         150001 non-null  float64
 2   Dur_s              150001 non-null  float64
 3   MSISDN_Number      150001 non-null  float64
dtypes: float64(3), int64(1)
memory usage: 4.6 MB

In [48]:
#Aggregating ferquency per customer Id
session = engagement_df.groupby('MSISDN_Number',as_index=False).agg({"Session frequency": sum})

In [49]:
session.nlargest(10, ['Session frequency'])

        MSISDN_Number  Session frequency
106853   4.188282e+10             557508
35893    3.365946e+10               1982
50294    3.366284e+10                995
5617     3.361362e+10                994
14790    3.362849e+10                994
49594    3.366268e+10                994
33883    3.365903e+10                993
50310    3.366285e+10                993
70940    3.366906e+10                993
88021    3.369929e+10                993

In [51]:
#Aggregate session total traffic per customer
total_data = engagement_df.groupby(['MSISDN_Number'],as_index=False).agg({'Total_Data': sum})

In [58]:
total_data.nlargest(10, ['Total_Data'])

        MSISDN_Number     Total_Data
106853   4.188282e+10  531744.709244
6437     3.361489e+10    8846.226494
92923    3.376054e+10    8514.773963
13180    3.362578e+10    8499.620722
13526    3.362632e+10    7971.167261
76363    3.367588e+10    7891.110608
37052    3.365973e+10    7705.862783
63028    3.366646e+10    7308.500938
92577    3.376041e+10    7132.370514
57241    3.366471e+10    6872.018208

In [54]:
#Aggregate duration of tthe sessions by each user
Duration = engagement_df.groupby(['MSISDN_Number'],as_index=False).agg({'Dur_s': sum})

In [57]:
Duration.nlargest(10, ['Dur_s'])

        MSISDN_Number       Dur_s
106853   4.188282e+10  72551.0046
13180    3.362578e+10  18553.7540
6437     3.361489e+10   9966.8980
92923    3.376054e+10   9279.4340
13526    3.362632e+10   8791.9270
65118    3.366716e+10   8744.9140
50281    3.366284e+10   6614.2700
57160    3.366469e+10   6288.7300
666      3.360313e+10   6287.7610
66029    3.366746e+10   5649.8820

### Normalizing each engagement metric and run a k-means (k=3) to classify customers in three groups of engagement

In [93]:
km = KMeans(n_clusters=3,)

In [94]:
#Normalizing the dataframe
engagement_df_norm = (engagement_df-engagement_df.min())/ (engagement_df.max() - engagement_df.min())

In [95]:
engagement_df_norm

        Session frequency  Total_Data     Dur_s  MSISDN_Number
0                 0.00000    0.341600  0.980734   7.248772e-08
1                 0.00000    0.731616  0.733164   9.163195e-08
2                 0.00000    0.300676  0.731360   1.809066e-07
3                 0.00000    0.928123  0.709627   1.692516e-07
4                 0.00000    0.624280  0.584100   1.119654e-07
...                   ...         ...       ...            ...
149996            0.00000    0.650301  0.040000   5.631123e-08
149997            0.00000    0.730105  0.049038   7.077383e-08
149998            0.00101    0.645873  0.049189   2.367321e-08
149999            0.00101    0.401893  0.049006   2.110279e-08
150000            1.00000    0.503553  0.052622   9.385948e-06

[150001 rows x 4 columns]

In [96]:
#Determining the clusters to which the datapoints are containedb
prediction = km.fit_predict(engagement_df_norm[['Total_Data', 'Dur_s', 'Session frequency']])
prediction

array([2, 1, 2, ..., 0, 0, 0])

In [97]:
#Creating a new variable to display various clusters
engagement_df_norm['cluster'] = prediction 

engagement_df_norm1 = engagement_df_norm[engagement_df_norm.cluster==0]
engagement_df_norm2 = engagement_df_norm[engagement_df_norm.cluster==1]
engagement_df_norm3 = engagement_df_norm[engagement_df_norm.cluster==2]

engagement_df_norm

        Session frequency  Total_Data     Dur_s  MSISDN_Number  cluster
0                 0.00000    0.341600  0.980734   7.248772e-08        2
1                 0.00000    0.731616  0.733164   9.163195e-08        1
2                 0.00000    0.300676  0.731360   1.809066e-07        2
3                 0.00000    0.928123  0.709627   1.692516e-07        1
4                 0.00000    0.624280  0.584100   1.119654e-07        0
...                   ...         ...       ...            ...      ...
149996            0.00000    0.650301  0.040000   5.631123e-08        0
149997            0.00000    0.730105  0.049038   7.077383e-08        1
149998            0.00101    0.645873  0.049189   2.367321e-08        0
149999            0.00101    0.401893  0.049006   2.110279e-08        0
150000            1.00000    0.503553  0.052622   9.385948e-06        0

[150001 rows x 5 columns]

In [105]:
#Computing metric for each required variable
variables = ['Total_Data', 'Dur_s', 'Session frequency']


print('CLUSTER 0')
for column in variables:
    print(engagement_df_norm1[column].describe())
print('CLUSTER 1')
for column in variables:
    print(engagement_df_norm2[column].describe())
print('CLUSTER 2')
for column in variables:
    print(engagement_df_norm3[column].describe())

CLUSTER 0
count    50169.000000
mean         0.501555
std          0.088079
min          0.348964
25%          0.424895
50%          0.502048
75%          0.577933
max          0.653439
Name: Total_Data, dtype: float64
count    50169.000000
mean         0.052750
std          0.044583
min          0.000000
25%          0.027053
50%          0.042791
75%          0.067588
max          0.953350
Name: Dur_s, dtype: float64
count    50169.000000
mean         0.006740
std          0.080332
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Session frequency, dtype: float64
CLUSTER 1
count    50326.000000
mean         0.806586
std          0.088948
min          0.653446
25%          0.729458
50%          0.806716
75%          0.882435
max          1.000000
Name: Total_Data, dtype: float64
count    50326.000000
mean         0.052549
std          0.043180
min          0.000002
25%          0.027192
50%          0.042791
75%          0.067895
max          0.999995
Name: Dur_s, dtype: float64
count    50326.000000
mean         0.006658
std          0.079840
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Session frequency, dtype: float64
CLUSTER 2
count    49506.000000
mean         0.197526
std          0.087477
min          0.000000
25%          0.122449
50%          0.197394
75%          0.273290
max          0.349238
Name: Total_Data, dtype: float64
count    49506.000000
mean         0.052568
std          0.043479
min          0.000025
25%          0.027205
50%          0.042791
75%          0.067454
max          1.000000
Name: Dur_s, dtype: float64
count    49506.000000
mean         0.007149
std          0.082812
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Session frequency, dtype: float64

Aggregate user total traffic per application and derive the top 10 most engaged users per application

In [106]:
engagement_df_norm['Google_total(MB)'] = (data['Google_DL_(Bytes)'] + data['Google_UL_(Bytes)'])/10**6
engagement_df_norm['Social_total(MB)'] = (data['Social_Media_DL_(Bytes)'] + data['Social_Media_UL_(Bytes)'])/10**6
engagement_df_norm['Email_total(MB)'] = (data['Email_DL(Bytes)'] + data['Email_UL(Bytes)'])/10**6
engagement_df_norm['Youtube_total(MB)'] = (data['Youtube_DL_(Bytes)'] + data['Youtube_UL_(Bytes)'])/10**6
engagement_df_norm['Netflix_total(MB)'] = (data['Netflix_DL_(Bytes)'] + data['Netflix_UL_(Bytes)'])/10**6
engagement_df_norm['Gaming_total(MB)'] = (data['Gaming_DL_(Bytes)'] + data['Gaming_UL_(Bytes)'])/10**6
engagement_df_norm['Other_total(MB)'] = (data['Other_DL_(Bytes)'] + data['Other_UL_(Bytes)'])/10**6

In [107]:
engagement_df_norm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Session frequency  150001 non-null  float64
 1   Total_Data         150001 non-null  float64
 2   Dur_s              150001 non-null  float64
 3   MSISDN_Number      150001 non-null  float64
 4   cluster            150001 non-null  int32
 5   Google_total(MB)   150001 non-null  float64
 6   Social_total(MB)   150001 non-null  float64
 7   Email_total(MB)    150001 non-null  float64
 8   Youtube_total(MB)  150001 non-null  float64
 9   Netflix_total(MB)  150001 non-null  float64
 10  Gaming_total(MB)   150001 non-null  float64
 11  Other_total(MB)    150001 non-null  float64
dtypes: float64(11), int32(1)
memory usage: 13.2 MB

In [108]:
relevant_apps = ['Google_total(MB)','Social_total(MB)', 'Email_total(MB)', 'Youtube_total(MB)','Netflix_total(MB)', 'Gaming_total(MB)']

In [117]:
traffic_data = engagement_df_norm.groupby('MSISDN_Number')
for app in relevant_apps:
    traffic_data.get_group(app).value_counts()[0:10]

KeyError: 'Google_total(MB)'